.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container takes the full height of the viewport */
}

.health-barriers-overview {
  flex: 0 0 25%; /* 30% of the page */
}

.patient-by-health-barrier {
  flex: 0 0 40%; /* 40% of the page */
}

.patient-at-risk-by-number {
  flex: 0 0 35%; /* 30% of the page */
}

.component {
  border-bottom: 1px solid black; /* Add a black line at the bottom */
  padding: 20px 0; /* Add padding to the top and bottom */
  overflow: hidden; /* Prevent content from overflowing */
}

.component:not(:first-child) {
  border-top: 1px solid gray; /* Adjust the color as needed */
}

.line {
  border-top: 1px solid white; /* Black line */
  /* border-top: 1px solid #ccc; /* Gray line */
  margin: 20px 0; /* Adjust margin as needed */
}
